%p.notice= notice

%p
	%b Наименование установки:
	= @installation.title
	Ответственый:
	= @installation.user.name
	Заказы для установки:
	%ul
		- @installation.orders.each do |order|
			%li= order.title
= link_to 'Редактировать', edit_installation_path(@installaion)
= link_to 'Назад', installations_path